<%= render "shared/title" %>

<main>
  <div class="box queston">
    <p class="sentense"><%= params[:question] %></p>
    <p class="person">-You</p>
  </div>

  <div class="box answer">
    <p class="sentense"><%= @answer %></p>
    <p class="person">-Your coach</p>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</main>
