<div class="container">
  <h1>Stupid Coaching</h1>
  <p class="mb-0">Ask your coach anything:</p>

  <form action="answer">
    <div class="form-group">
      <input type="text" name="question" class="form-control mb-1">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
